<% if @user == false %>
    <div class="mt-5 col-4 offset-2">
        <h1>About</h1>
        <p>CBT Assist is used to help users to keep track of the things that are happening in their lives. Understanding yourself helps you make the changes in life you wish to make.</p>
        <small>Please Login Or Sign Up To Use The App</small>
    </div>
<% else %>
    <%= javascript_pack_tag 'index' %>
<% end %>
